<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSRF Token -->
    {#<meta name="csrf-token" content="{{ csrf_token() }}">#}

    <title>Login | Tanglaw - Branches and Campuses</title>

    <!-- Styles -->

    <link href="static/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/public/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="static/public/css/theme.css" rel="stylesheet">
    <link href="static/public/images/icons/css/font-awesome.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
</head>
<body>
<div class="wrapper" style="min-height: 95vh;">
    <div class="container">
    <div class="row">
        <div class="module module-login span4 offset4">
            <form class="form-vertical" method="POST" {#action="{{ route('login') }}"#}>
                {#{{ csrf_field() }}#}
                <div class="module-head">
                    <h3>Sign In</h3>
                </div>
                <div class="module-body">
                    <div class="control-group">
                        <div class="controls row-fluid">
                            <input class="span12" type="email" id="inputEmail" placeholder="Email" name="email">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls row-fluid">
                            <input class="span12" type="password" id="inputPassword" placeholder="Password" name="password">
                        </div>
                    </div>
                </div>
                <div class="module-foot">
                    <div class="control-group">
                        <div class="controls clearfix">
                            <button type="submit" class="btn btn-primary pull-right">Login</button>
                            <label class="checkbox">
                                <input type="checkbox"> Remember me
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>

{#<div class="footer">
    <div class="container">


        <b class="copyright">&copy; 2018 BRANCHES - System Analysis and Design </b> All rights reserved.
    </div>
</div>#}

<!-- Scripts -->
<script src="static/public/scripts/jquery-1.9.1.min.js"></script>
<script src="static/public/scripts/jquery-ui-1.10.1.custom.min.js"></script>
<script src="static/public/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
