<ul class="widget widget-menu unstyled">
    <li class="active">
        <a href="#"><i class="menu-icon icon-dashboard"></i>School Year / Semester Setup
        </a>
    </li>

    <li>
        <a href="#"><i class="menu-icon icon-bullhorn"></i>Branch / Campus Management </a>
    </li>

    <li>
        <a href="#"><i class="menu-icon icon-inbox"></i>Account Management <b class="label green pull-right">
            11</b> </a>
    </li>

</ul>
<ul class="widget widget-menu unstyled">
    <li>
        <a href="task.html"><i class="menu-icon icon-tasks"></i>Evaluation Settings <b class="label orange pull-right">
                19</b> </a>
    </li>
</ul>

<ul class="widget widget-menu unstyled">
    <li><a href="#"  data-toggle="modal" data-target="#logoutModal"><i class="menu-icon icon-signout"></i>Logout </a></li>
</ul>